// 2. Set your own initial variables
// Update blue
$orange: rgba(255, 0, 0, 0.678);

$grey: #eeeeee;
$grey-invert: #363636;
// Add dark blue and its invert
$dark-blue: #0B0D29;
$dark-blue-invert: #fbfbfb;

$blue: rgba(0, 204, 170, 0.747);
$blue-invert: findColorInvert($blue);

$yellow: rgb(228, 187, 7);

// Width of map
$map-width: 60%;
$map-height: 500px;