// 2. Set your own initial variables
// Update blue
$orange: rgba(255, 0, 0, 0.678);

$grey: #eeeeee;
$grey-invert: #363636;
// Add dark blue and its invert
$dark-blue: #0B0D29;
$dark-blue-invert: #fbfbfb;


// Width of map
$map-width: 53%;