// 2. Set your own initial variables
// Update blue
$orange: rgba(255, 123, 0, 0.5);
$blue: #72d0eb;

$grey: #eeeeee;
$grey-invert: #363636;
// Add dark blue and its invert
$dark-blue: #0B0D29;
$dark-blue-invert: #fbfbfb;

// Add pink and its invert
$pink: #fca8a8;
$pink-invert: #fff;