*.DS_Store
*__pycache__
*logs/
*dist/
*build/
*.egg-info

#tests
*.pytest_cache
.idea

#Virtual environments
/back_django/py36_back_env
/ml_tools/py36_ml_env

#data
installers/
prod/
data/
.vscode/
config.json

*dump.rdb
