// 1. Import the initial variables
@import '../../node_modules/bulma/sass/utilities/initial-variables';
@import '../../node_modules/bulma/sass/utilities/functions';
@import './mixins/variables.scss';
// Add a serif family
$family-serif: 'Verdana', 'Merriweather', 'Georgia', serif;
$gap: 70px;

// 3. Set the derived variables
// Use the new dark blue as the primary color
$primary: $dark-blue;
$primary-invert: $dark-blue-invert;
// Use the existing orange as the danger color
$danger: $orange;
// Use the new serif family
$family-primary: $family-serif;

// 4. Setup your Custom Colors
$blue: rgba(0, 204, 170, 0.747);
$blue-invert: findColorInvert($blue);

// 5. Add new color variables to the color map.
@import '../../node_modules/bulma/sass/utilities/derived-variables';
$addColors: (
  'blue': (
    $blue,
    $blue-invert,
  ),
  'grey': (
    $grey, 
    $grey-invert,
  ),  
);
$colors: map-merge($colors, $addColors);

body{
  background: linear-gradient(to right, #010205, #130E3F);
  height: 100%;
}
html {
  height: 100%;
}

// 6. Import the rest of Bulma
@import '../../node_modules/bulma/bulma';
@import '../../node_modules/bulma-extensions/bulma-switch/dist/css/bulma-switch.sass';
@import '../../node_modules/bulma-extensions/bulma-checkradio/dist/css/bulma-checkradio.sass';

