@import '../../sass/mixins/variables';

p {
    margin-bottom: 5px;
}
button {
    margin-top: 5px;
    width: 100%; 
}
.tile {
    flex-basis: auto;
    &.is-parent {
       padding: 0;
    }
    &.is-child{
        padding: 1em;
    }
    &.is-ancestor {
        margin: 0;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &#upload-tile {
        width: $map-width;
        flex-grow: 0;
    }
}

article.tile {
    background-color: rgba(255, 255, 128, 0);
    color: $grey;
}

.right-buttons {
    height: 100%;
    button {
        height: 100%;
    }
}

#upload-button {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;   
}

.control-section {
    display: flex;
    align-items: center;
    margin-left: 1em;
    margin-right: 1em;
    a, progress{
        margin: 2px;
    }
    background-color: darken($grey, 50);
    border-radius: 5px;
}

.simulation {
    padding: 1em;
}