p {
  margin-bottom: 5px; }

button {
  margin-top: 5px;
  width: 100%; }

.tile {
  flex-basis: auto; }
  .tile.is-parent {
    padding: 0; }
  .tile.is-child {
    padding: 1em; }
  .tile.is-ancestor {
    margin: 0; }
    .tile.is-ancestor:last-child {
      margin-bottom: 0; }
  .tile#upload-tile {
    width: 53%;
    flex-grow: 0; }

article.tile {
  background-color: rgba(255, 255, 128, 0);
  color: #eeeeee; }

.right-buttons {
  height: 100%; }
  .right-buttons button {
    height: 100%; }

#start-sim-button {
  width: 96%; }

#upload-button {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }

.control-section {
  display: flex;
  align-items: center;
  margin-left: 1em;
  margin-right: 1em;
  background-color: #6f6f6f;
  border-radius: 5px; }
  .control-section a, .control-section progress {
    margin: 2px; }
