p {
  margin-bottom: 5px; }

button {
  margin-top: 5px;
  width: 100%; }

form.container {
  width: 40%;
  margin-bottom: 1.5em; }

#dropZone {
  border: 5px solid rgb(198, 198, 204);
  width:  200px;
  height: 100px;
}