.map-container {
  padding: 0.2em;
  border: 1px solid #eeeeee;
  border-radius: 10px;
  height: 500px;
  width: 60%; }

.mapMarker {
  width: 0.7rem;
  height: 0.7rem;
  display: block;
  left: -0.5rem;
  top: -0.5rem;
  position: relative;
  /* border-radius: 1.5rem 1.5rem 0; */
  border-radius: 1rem 1rem;
  transform: rotate(45deg);
  border: 1px solid #FFFFFF; }

.centerMarker {
  width: 0.3rem;
  height: 0.3rem;
  display: block;
  left: -0.5rem;
  top: -0.5rem;
  position: relative;
  /* border-radius: 1.5rem 1.5rem 0; */
  border-radius: 1rem 1rem;
  transform: rotate(45deg);
  border: 1px solid #000000; }

.mapboxgl-ctrl-bottom-right {
  display: none; }

.mapboxgl-ctrl-bottom-left {
  display: none; }

#showhide {
  width: fit-content;
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  font-size: 1.2em; }

.widgets {
  text-align: right;
  position: absolute;
  top: 80px;
  right: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  bottom: auto;
  left: auto;
  background-color: #eeeeee;
  height: 28px;
  width: 28px; }
  .widgets a#center-button {
    color: black;
    font-size: 1em; }
  .widgets span.icon {
    height: 28px;
    width: 28px; }
