@import '../../sass/mixins/variables';

.App {
    text-align: center;
  }
  
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

table {
  margin-top: 1em;
  margin-bottom: 1em;
}

.table {
  background-color: $grey;
  border-radius: 5px 5px 0px 0px;
}

body {
  padding-bottom: 5em;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.switch-container, .switch {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.map-table-container {
  padding-right: 2em;
  padding-left: 1em;
  display: flex;
  flex-direction: row;
  width: 100%;

  #tabletile {
    font-size: 0.85em;
    width: 100%;
    height: 510px;
    padding-left: 2%;
    overflow-y: scroll;

    table, tr {
      width: 100%;
    }
  }
}

  