.App {
  text-align: center; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white; }

.App-title {
  font-size: 1.5em; }

.App-intro {
  font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

body {
  padding-bottom: 5em; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline; }

.switch-container, .switch {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none; }

.map-table-container {
  display: flex;
  flex-direction: row;
  width: 100%; }
  .map-table-container #tabletile {
    font-size: 0.8em;
    width: 100%;
    height: 510px;
    padding-left: 1em;
    padding-right: 1em;
    overflow-y: scroll; }
    .map-table-container #tabletile table, .map-table-container #tabletile tr {
      width: 100%; }
    .map-table-container #tabletile .table {
      background-color: #eeeeee;
      border-radius: 5px 5px 0px 0px; }
